transformers>=4.30.0
torch
tqdm
pyarrow
fastparquet
datasets
pandas
numpy
scikit-learn
playwright
readability-lxml
justext
pytest
orjson
dotenv
fake_useragent
tenacity
curl_cffi
feedparser
pydantic
pydantic_settings
trafilatura
bs4
nbformat 
nbconvert